<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Danh sách bài đăng</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-12">
      <a href="/admin/news/new"><i class="material-icons text-primary">add_circle</i></a>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Tên bài đăng</th>
        <th>Tóm tắt</th>
        <th>Trạng thái</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @news.each do |news| %>
      <tr>
        <!--<td><%= cl_image_tag(news.image.thumbnail) %></td>-->
        <td><%= news.title %></td>
        <td><%= news.sort_content %></td>
        <td><%= news.active ? 'Active':'Inactive' %></td>
        <td class="text-center" style="width: 1%"><a href="/admin/news/<%= news.id %>"><i class="material-icons">edit</i></a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>