<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/users">Danh sách người dùng</a></li>
            <li class="breadcrumb-item active">Tạo người dùng</li>
        </ol>
    </nav>
    <%= form_for([:admin,@user]) do |f| %>
    <div class="row">
        <div class="col-12">
            <h2>Người dùng mới</h2>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                <div class="rounded-circle w-100 overflow-hidden border-secondary" id="select-image-area" style="cursor: pointer;border:solid 5px">
                    <%=image_tag("user.png", :style => "width:100%") %>
                </div>   
                <%= f.file_field :avatar, class: "form-control d-none", id: 'file-input' %>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
            </div>
    
            <div class="form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
            </div>
    
            <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
            </div>
    
            <div class="text-right">
                <button class="btn btn-primary" type="submit">Tạo người dùng</button>
            </div>
        </div>
    </div>
    <% end %>
</div>
<script>
    $('#select-image-area').on('click',()=>{
        $('#file-input').click()
    })
    $('#file-input').on('change',(e)=>{
        $('#select-image-area').empty()
        let reader = new FileReader();
        reader.readAsDataURL(e.target.files[0]);
        reader.onload = function () {
            $('#select-image-area').append('<img class="w-100" src="'+reader.result+'"/>')
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
        };
    })
</script>