<header class="page-header d-flex flex-column justify-content-end mt-5">
    <div class="container text-white rounded-top" style="background:rgba(0,0,0,0.6)">
        <h2><i>Dark House Studio</i></h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent pb-0">
                <li class="breadcrumb-item text-primary"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active">Dự án tiêu biểu</li>
            </ol>
        </nav>
    </div>
</header>
<div class="container mt-2 pb-2" style="min-height:60vh">
    <div class="row">
    <% @news.each do |news| %>
        <div class="col-12 col-md-4 mt-3">
            <div class="card">
                <%= cl_image_tag(news.image, :transformation => { :width => 600, :crop => "fit" }, :class => "card-img-top")  %>
                <div class="card-body">
                    <h5 class="card-title"><%= news.title %></h5>
                    <span class="text-muted">Đăng ngày <%= news.created_at.strftime("%d/%m/%Y") %></span>
                    <p class="card-text text-justify"><%= news.sort_content %></p>
                    <div class="text-right">
                        <a href="/project/<%= news.slug %>" class="btn btn-primary text-white rounded-pill">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>
            
            