<header class="home-header d-flex flex-column justify-content-center animated fadeIn position-relative">
  <div class="container text-center text-muted animated slideInLeft delay-1s">
    <h1><i>Welcome To Dark House Studio!</i></h1>
    <h3>It's Nice To Meet You</h3>
    <a class="btn btn-outline-warning btn-lg" href="/contact">Tell Me More</a>
  </div>
  <div class="multiple-items bg-warning position-absolute w-100" style="bottom:0px;opacity: 0.5;">
    <% @categories.each do |category| %>
      <a href="/catalog/<%= category.slug %>">
        <div class="p-3 text-center text-white">
          <%= category.name %>
        </div>
      </a>
    <% end %>
  </div>
</header>
<div class="container pt-3 pb-3">
  <div class="row">
  <% @categories.each do |category| %>
    <div class="col-12 col-md-4 mt-3">
      <div class="card h-100">
        <%= cl_image_tag(category.image, :transformation => { :width => 400, :crop => "fit" }, :class => "card-img-top")  %>
        <div class="card-body">
          <h5 class="card-title"><%= category.name %></h5>
          <p class="card-text"><%= category.description %></p>
          <a href="/catalog/<%= category.slug %>" class="card-link">Read more</a>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>
</div>
<script>
  $('.multiple-items').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 4,
    arrows:false,
    responsive: [{
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    }]
  });
  $('.multiple-project').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1
  });
</script>
