<header class="home-header d-flex flex-column justify-content-center animated fadeIn position-relative">
  <div class="container text-center text-white animated slideInLeft delay-1s pt-3 pb-3 rounded" style="background:rgba(0,0,0,0.6)">
    <h1 style="font-size:50px"><b>Dark House Co.Ltd</b></h1>
    <h3><b><i>Thiết kế thi công bằng cả trái <span class="text-warning">TIM</span></i></b></h3>
    <a class="btn btn-warning btn-lg" href="/du-an">Dự Án Tiêu Biểu</a>
  </div>
</header>
<div class="container pt-3 pb-3">
  <h1 class="text-center"><b><span class="text-warning">DỰ ÁN</span> TIÊU BIỂU</b></h1>
  <div class="multiple-items bg-dark w-100">
    <% @categories.each do |category| %>
      <div class="p-3 text-center text-white home-catalog" style="cursor:pointer">
        <%= category.name %>
      </div>
    <% end %>
  </div>
  <div class="multiple-project mt-3">
    <% @categories.each do |category| %>
        <div>
          <div class="row">
          <% category.news.where(active:true).where(highlight:true).limit(8).each do |news| %>
            <div class="col-12 col-md-6 col-lg-4 mt-3">
              <a href="/project/<%= news.slug %>">
                <div class="card text-white">
                  <%= cl_image_tag(news.image, :transformation => { :width => 600, :crop => "fit" }, :class => "card-img",:style => "height:200px")  %>
                  <div class="card-img-overlay p-2" style="top:auto;background: rgba(0,0,0,0.4)">
                    <h3 class="card-title"><b><%= news.title %></b></h3>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
          </div>
          <div class="text-center mt-3">
            <a class="btn btn-primary text-white rounded-pill" href="/catalog/<%= category.slug %>">Xem thêm</a>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="container pt-3 pb-3">
  <h1 class="text-center"><b><span class="text-warning">TIN TỨC</span> NỔI BẬT</b></h1>
  <div class="row">
    <% @darkhouse_news.each do |darkhouse_news| %>
    <div class="col-12 col-md-4">
      <a href="tin-tuc/<%= darkhouse_news.slug %>">
        <div class="card h-100">
          <%= cl_image_tag(darkhouse_news.image, :transformation => { :height => 200, :crop => "fit" },:class => "card-img-top", :style => "object-fit:cover;height:200px;")  %>
          <div class="card-body">
            <h5 class="card-title"><b><%= darkhouse_news.title %></b></h5>
            <p class="card-text"><%= darkhouse_news.sort_content %></p>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>
<div class="container pt-3">
  <h1 class="text-center"><b><span class="text-warning">ĐỐI TÁC - </span> KHÁCH HÀNG</b></h1>
</div>
<div class="multiple-comment w-100">
  <% @customer_comments.each do |customer_comment| %>
    <div class="d-flex">
      <div class="overflow-hidden position-relative w-50" style="clip-path: polygon(0 0,0% 400%,100% 0);-webkit-clip-path:polygon(0 0,0% 400%,100% 0)">
        <%=image_tag("white-brick-bg.jpg", :class => "w-100", :style => "height:300px") %>
        <div class="position-absolute h-100 w-100 d-flex flex-column justify-content-center" style="top:0;left:0">
          <div class="d-flex justify-content-center">
            <%= cl_image_tag(customer_comment.image, :transformation => { :height => 200, :crop => "fit" }, :style => "object-fit:cover;height:200px;")  %>
          </div>
        </div>
      </div>
      <div class="p-3 d-flex flex-column justify-content-center w-50">
          <p><q><i><b> <%= customer_comment.quote %> </b></i></q></p>
          <div class="text-right">
            <p><i><b> <%= customer_comment.name %> </b></i></p>
          </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.multiple-items').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    arrows:false,
    asNavFor: '.multiple-project',
    focusOnSelect: true,
    responsive: [{
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    }]
  });
  $('.multiple-project').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows:false,
    asNavFor: '.multiple-items',
  });
  $('.multiple-comment').slick({
    infinite: true,
    autoplay: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows:false,
  });
</script>
