<header class="home-header d-flex flex-column justify-content-center animated fadeIn position-relative">
  <div class="container text-center text-white animated slideInLeft delay-1s">
    <h1 style="font-size:50px"><b>Dark House Co.Ltd</b></h1>
    <h3><b><i>Thiết kế thi công bằng cả trái <span class="text-warning">TIM</span></i></b></h3>
    <a class="btn btn-warning btn-lg" href="/du-an-tieu-bieu">Dự Án Tiêu Biểu</a>
  </div>
</header>
<div class="container pt-3 pb-3">
  <h1><span class="text-warning">DỰ ÁN</span> TIÊU BIỂU</h1>
  <div class="multiple-items bg-dark w-100">
    <% @categories.each do |category| %>
      <div class="p-3 text-center text-white home-catalog" style="cursor:pointer">
        <%= category.name %>
      </div>
    <% end %>
  </div>
  <div class="multiple-project mt-3">
    <% @categories.each do |category| %>
        <div>
          <div class="row">
          <% category.news.where(active:true).where(highlight:true).limit(8).each do |news| %>
            <div class="col-12 col-md-6 col-lg-4 mt-3">
              <a href="/project/<%= news.slug %>">
                <div class="card text-white">
                  <%= cl_image_tag(news.image, :transformation => { :width => 600, :crop => "fit" }, :class => "card-img",:style => "height:200px")  %>
                  <div class="card-img-overlay p-2" style="top:auto;background: rgba(0,0,0,0.4)">
                    <h3 class="card-title"><b><%= news.title %></b></h3>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
          </div>
          <div class="text-center mt-3">
            <a class="btn btn-primary text-white rounded-pill" href="/catalog/<%= category.slug %>">Xem thêm</a>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="multiple-comment w-100">
  <% @news.each do |news| %>
    <div class="d-flex">
      <div class="overflow-hidden" style="width:50%;clip-path: polygon(0 0,0% 400%,100% 0);-webkit-clip-path:polygon(0 0,0% 400%,100% 0)">
        <%= cl_image_tag(news.image, :transformation => { :width => 1000, :crop => "fit" }, :class => "highlight-news-image w-100")  %>
      </div>
      <div class="p-3 d-flex flex-column justify-content-center" style="width:50%">
          <h3><q><i><b> DỰ ÁN TIÊU BIỂU </b></i></q></h3>
      </div>
    </div>
  <% end %>
</div>
<script>
  $('.multiple-items').slick({
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    arrows:false,
    asNavFor: '.multiple-project',
    focusOnSelect: true,
    responsive: [{
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    }]
  });
  $('.multiple-project').slick({
    infinite: true,
    autoplay: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows:false,
    asNavFor: '.multiple-items',
  });
  $('.multiple-comment').slick({
    infinite: true,
    autoplay: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows:false,
  });
</script>
