<header class="page-header d-flex flex-column justify-content-end pb-5">
    <div class="container text-muted">
        <h2><i>Dark House Studio</i></h2>
        <h3><%= @news.category.name %></h3>
    </div>
</header>
<div class="container mt-2 pb-2" style="min-height:60vh">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/catalog/<%= @news.category.slug %>"><%= @news.category.name %></a></li>
            <li class="breadcrumb-item active">project</li>
        </ol>
    </nav>
    <h4><b><%= @news.title %></b></h4>
    <p class="text-muted">Đăng ngày <%= @news.updated_at.strftime("%d/%m/%Y") %></p>
    <img class="w-100" src="<%= @news.image %>"/>
    <div>
        <%= @news.content.html_safe %>
    </div>
    <div class="row">
        <% @news.photos.map do |photo| %>
        <div class="col-12 col-md-3 mt-2">
            <a data-fancybox href="<%= photo.image %>">
                <img class="border w-100" src="<%= photo.image %>"/>
            </a>
        </div>
        <% end %>
    </div>
</div>