<header class="page-header d-flex flex-column justify-content-end">
    <div class="container text-muted">
        <h2><i>Dark House Studio</i></h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item text-primary"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item text-primary"><a href="/catalog/<%= @news.category.slug %>"><%= @news.category.name %></a></li>
                <li class="breadcrumb-item active">Dự án</li>
            </ol>
        </nav>
    </div>
</header>
<div class="container mt-2 pb-2" style="min-height:60vh">
    <div class="d-flex justify-content-between">
        <h3><b><%= @news.title %></b></h3>
        <div class="d-flex">
            <div class="d-flex flex-column justify-content-center mr-1"><b>Share:</b> </div>
            <span class="mt-1"><i class="fab fa-facebook-square text-primary fa-2x mr-1"></i></span>
            <span class="mt-1"><i class="fab fa-twitter-square text-primary fa-2x mr-1"></i></span>
            <span class="mt-1"><i class="fab fa-instagram text-warning fa-2x"></i></span>
        </div>
    </div>
    <p class="text-muted">Đăng ngày <%= @news.created_at.strftime("%d/%m/%Y") %></p>
    <img class="w-100 mb-2" src="<%= @news.image %>"/>
    <div class="text-justify">
        <%= @news.content.html_safe %>
    </div>
    <div class="row">
        <% @news.photos.map do |photo| %>
        <div class="col-12 col-md-3 mt-2">
            <a data-fancybox href="<%= photo.image %>">
                <%= cl_image_tag(photo.image, :transformation => { :height =>200, :crop => "fit" }, :class => "border border-success w-100", :style => "height:200px;object-fit:cover")  %>
            </a>
        </div>
        <% end %>
    </div>
    <hr>
    <div class="d-flex justify-content-end">
        <div class="d-flex flex-column justify-content-center mr-1"><b>Share:</b> </div>
        <span><i class="fab fa-facebook-square text-primary fa-2x mr-1"></i></span>
        <span><i class="fab fa-twitter-square text-primary fa-2x mr-1"></i></span>
        <span><i class="fab fa-instagram text-warning fa-2x"></i></span>
    </div>
</div>