<header class="page-header d-flex flex-column justify-content-end">
    <div class="container text-muted">
        <h2><i>Dark House Studio</i></h2>
    </div>
</header>
<div class="container mt-2 pb-2" style="min-height:60vh">
    <h4><%= @news.title %></h4>
    <img class="w-100" src="<%= @news.image %>"/>
    <div>
        <%= @news.content.html_safe %>
    </div>
    <div class="row">
        <% @news.photos.map do |photo| %>
        <div class="col-12 col-md-3 mt-2">
            <a data-fancybox href="<%= photo.image %>">
                <img class="border w-100" src="<%= photo.image %>"/>
            </a>
        </div>
        <% end %>
    </div>
</div>