<!DOCTYPE html>
<html>
  <head>
    <title>DarkHouse</title>
    <%= favicon_link_tag asset_path('logo.jpg') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/beb5e0fe64.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="//cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
  </head>

  <body>
    <div class="d-flex">
      <nav id="sidebar" class="bg-white border-right overflow-auto vh-100" style="z-index:1">
        <div class="list-group list-group-flush" id="sidebar-content">
          <div class="list-group-item d-flex" style="height:55px">
            <%=image_tag("logo.jpg", :style => "width:35px;height:35px;") %>
            <div class="d-flex flex-column justify-content-center"><a href="/" style="color: black;text-decoration: none;"><h3 class="mb-0"><b>DARKHOUSE</b></h3></a></div>
            <div class="d-flex flex-column justify-content-center d-md-none">
              <button type="button" id="sidebarCollapse2" class="btn pb-0">
                <i class="material-icons">menu</i>
              </button>
            </div>
          </div>
          <div class="list-group-item">
            <div class="p-3 p-md-4">
              <div class="rounded-circle w-100 overflow-hidden border-secondary" style="cursor: pointer;border:solid 5px">
                <% if current_user.avatar? %>
                  <img class="w-100" src="<%= current_user.avatar %>"/>
                <% else %>
                  <%=image_tag("user.png", :style => "width:100%") %>
                <% end %>
              </div>
            </div>
            <div class="text-wrap text-break text-center lead text-success">
              <%= current_user.email %>
            </div>
          </div>
          <a class="list-group-item list-group-item-action" href="/admin"><span><i class="fas fa-meteor fa-lg" style="width:30px;"></i></span> Dashboard</a>
          <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#categories_menu"><span><i class="fas fa-object-group fa-lg" style="width:30px;"></i></span> Quản Lý Catalog</a>
          <div class="collapse bg-secondary" id="categories_menu">
            <a class="list-group-item list-group-item-action bg-transparent text-white pl-5" href="/admin/categories"><i class="fas fa-circle fa-xs mr-2"></i> Danh Sách </a>
            <a class="list-group-item list-group-item-action bg-transparent text-white pl-5" href="/admin/categories/new"><i class="fas fa-circle fa-xs mr-2"></i> Tạo Mới</a>
          </div>
          <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#news_menu"><span><i class="far fa-newspaper fa-lg" style="width:30px;"></i></span> Quản Lý Bài Đăng</a>
          <div class="collapse bg-dark" id="news_menu">
            <a class="list-group-item list-group-item-action bg-transparent text-white pl-5" href="/admin/news"><i class="fas fa-circle fa-xs mr-2"></i> Danh Sách</a>
            <a class="list-group-item list-group-item-action bg-transparent text-white pl-5" href="/admin/news/new"><i class="fas fa-circle fa-xs mr-2"></i> Tạo Mới</a>
          </div>
          <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#users_menu"><span><i class="fas fa-users fa-lg" style="width:30px;"></i></span> Quản Lý Người Dùng</a>
          <div class="collapse bg-dark" id="users_menu">
            <a class="list-group-item list-group-item-action bg-transparent text-white pl-5" href="/admin/users"><i class="fas fa-circle fa-xs mr-2"></i> Danh Sách</a>
            <a class="list-group-item list-group-item-action bg-transparent text-white pl-5" href="/admin/users/new"><i class="fas fa-circle fa-xs mr-2"></i> Tạo Mới</a>
          </div>
          <a class="list-group-item list-group-item-action" href="/admin/abouts"><span><i class="fas fa-info-circle fa-lg" style="width:30px;"></i></span> Về Công Ty</a>
          <a class="list-group-item list-group-item-action" href="/admin/recruitments"><span><i class="fas fa-handshake fa-lg" style="width:30px;"></i></span> Tuyển Dụng</a>
        </div>
      </nav>
      <div class="flex-grow-1 vh-100 vw-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
          <button type="button" id="sidebarCollapse" class="btn text-white pb-0">
            <i class="material-icons">menu</i>
          </button>
          <div class="d-flex">
            <div class="d-flex flex-column justify-content-center mr-1">
              <span><i class="material-icons text-white mt-1">exit_to_app</i></span>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </div>
          </div>
        </nav>
        <div class="overflow-auto pt-5" style="height:calc(100vh - 55px)">
          <div class="container-fluid">
            <% if flash[:success] %>
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:success] %>
            </div>
            <% end %>
            <% if flash[:error] %>
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:error] %>
            </div>
            <% end %>
          </div>
          <%= yield %>
          <div class="pb-5"></div>
        </div>
      </div>
    </div>   
  </body>
  <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });

      $('#sidebarCollapse2').on('click', function () {
          $('#sidebar').toggleClass('active');
      });

      if (window.innerWidth <= 600) 
        $("#sidebar").addClass('active');

      var menu = ['categories_menu','news_menu','users_menu']
      $('#sidebar-content').children().each((i,el)=>{
        if(window.location.href == el.href){
          el.classList.add('active')
          el.classList.add('text-white')
        }
      })
      menu.map((id)=>{
        $('#'+id).children().each((i,el)=>{
          if(window.location.href == el.href){
            $('#'+id).prev().click()
            $('#'+id).prev().addClass('active text-white')
            el.classList.add('active')
            el.classList.remove('bg-transparent')
          }
        })
      })
    });
  </script>
</html>
