<!DOCTYPE html>
<html>
  <head>
    <title>Test site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
  </head>

  <body>
    <div class="d-flex w-100">
      <nav id="sidebar" class="bg-dark">
        <div class="list-group list-group-flush" id="sidebar-content">
          <div class="list-group-item bg-transparent" style="height:60px">
            <h3 class="text-white">DarkHouse Admin</h3>
          </div>
          <a class="list-group-item list-group-item-action text-white bg-transparent" href="/admin/categories">Category List</a>
          <a class="list-group-item list-group-item-action text-white bg-transparent" href="/admin/categories/new">Create Category</a>
          <a class="list-group-item list-group-item-action text-white bg-transparent" href="/admin/news">News List</a>
          <a class="list-group-item list-group-item-action text-white bg-transparent" href="/admin/news/new">Create News</a>
        </div>
      </nav>
      <div class="flex-grow-1 vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button type="button" id="sidebarCollapse" class="btn">
            <i class="material-icons">menu</i>
          </button>
        </nav>
        <div class="overflow-auto pt-5" style="height:calc(100vh - 60px)">
          <%= yield %>
          <div class="pb-5"></div>
        </div>
      </div>
    </div>   
  </body>
  <script>
    $(document).ready(function () {
      $('#sidebar-content').children().each((i,el)=>{
        if(window.location.href == el.href){
          el.classList.remove('bg-transparent')
          el.classList.add('active')
        }
      })
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
    });
  </script>
</html>
