<!DOCTYPE html>
<html>
  <head>
    <title>Test site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/beb5e0fe64.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
  </head>

  <body>
    <div class="d-flex w-100">
      <nav id="sidebar" class="bg-white border-right overflow-auto h-100vh" style="z-index:1">
        <div class="list-group list-group-flush" id="sidebar-content">
          <div class="list-group-item bg-transparent d-flex" style="height:55px">
            <%=image_tag("logo.jpg", :style => "width:35px;height:35px;") %>
            <div class="d-flex flex-column justify-content-center"><a href="/" style="color: black;text-decoration: none;"><h3 class="mb-0"><b>DARKHOUSE</b></h3></a></div>
            <div class="d-flex flex-column justify-content-center d-md-none">
              <button type="button" id="sidebarCollapse2" class="btn pb-0">
                <i class="material-icons">menu</i>
              </button>
            </div>
          </div>
          <div class="list-group-item bg-transparent ">
            <div class="p-3 p-md-4">
              <div class="rounded-circle w-100 overflow-hidden border-secondary" style="cursor: pointer;border:solid 5px">
                <% if current_user.avatar? %>
                  <img class="w-100" src="<%= current_user.avatar %>"/>
                <% else %>
                  <%=image_tag("user.png", :style => "width:100%") %>
                <% end %>
              </div>
            </div>
            <div class="text-wrap text-break text-center lead text-success">
              <%= current_user.email %>
            </div>
          </div>
          <a class="list-group-item list-group-item-action bg-transparent" href="/admin">Dashboard</a>
          <a class="list-group-item list-group-item-action bg-transparent" href="/admin/categories">Danh Sách Catalog</a>
          <a class="list-group-item list-group-item-action bg-transparent" href="/admin/categories/new">Tạo Catalog</a>
          <a class="list-group-item list-group-item-action bg-transparent" href="/admin/news">Danh Sách Bài Đăng</a>
          <a class="list-group-item list-group-item-action bg-transparent" href="/admin/news/new">Tạo Bài Đăng</a>
          <a class="list-group-item list-group-item-action bg-transparent" href="/admin/users">Danh sách người dùng</a>
          <a class="list-group-item list-group-item-action bg-transparent" href="/admin/users/new">Tạo người dùng</a>
        </div>
      </nav>
      <div class="flex-grow-1 vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
          <button type="button" id="sidebarCollapse" class="btn text-white pb-0">
            <i class="material-icons">menu</i>
          </button>
          <div class="d-flex">
            <div class="d-flex flex-column justify-content-center mr-1">
              <span><i class="material-icons text-white mt-1">exit_to_app</i></span>
            </div>
            <div class="d-flex flex-column justify-content-center">
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </div>
          </div>
        </nav>
        <div class="overflow-auto pt-5" style="min-height:calc(100vh - 55px)">
          <%= yield %>
          <div class="pb-5"></div>
        </div>
      </div>
    </div>   
  </body>
  <script>
    $(document).ready(function () {
      if (window.innerWidth <= 600) 
        $("#sidebar").addClass('active');
      $('#sidebar-content').children().each((i,el)=>{
        if(window.location.href == el.href){
          el.classList.remove('bg-transparent')
          el.classList.add('active')
        }
      })
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
      $('#sidebarCollapse2').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
    });
  </script>
</html>
