<!DOCTYPE html>
<html>
  <head>
    <title>DarkHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag('fullcalendar/packages/core/main.min.css') %>
    <%= javascript_include_tag('fullcalendar/packages/core/main.min.js') %>

    <%= stylesheet_link_tag('fullcalendar/packages/daygrid/main.min.css') %>
    <%= javascript_include_tag('fullcalendar/packages/daygrid/main.min.js') %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <script src="https://kit.fontawesome.com/beb5e0fe64.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/home">DarkHouse</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Catalogs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @categories.each do |category| %>
                <a class="dropdown-item" href="/catalog/<%= category.slug %>"><%= category.name %></a>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer class="bg-primary text-white">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6"></div>
          <div class="col-12 col-md-6 text-md-right">
            <span><i class="fab fa-facebook-square fa-2x"></i></span>
          </div>
        </div>
      </div>
      <div class="container-fluid text-center p-2" style="background: rgba(0, 0, 0, 0.1)">© 2019 Copyright</div>
    </footer>
    <div class="d-inline-block rounded-circle position-fixed" style="bottom:100px;right:20px;">
      <div class="position-absolute rounded-circle w-100 h-100 ani bg-warning" style="top:0;left:0;"></div>
      <a class="d-inline-block bg-warning rounded-circle p-3 text-primary position-relative"  href="tel:0936865068">
        <span><i class="fas fa-phone fa-2x"></i></span>
      </a>
    </div>
  </body>
</html>

